<footer class="page-footer font-small navbar-dark green lighten-2 sticky-bottom">
  
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="footer-copyright text-center py-3 navbar-dark green lighten-2">
          <a href="https://apophis.bss.design/index.html"> Apophis.com</a>
        </div>
      </div>
    </div>
  </div>
  

  <div class="container d-md-flex">
    <div class="col-3">
      <div class="change-font" style="color:white">
        <h3>Choose Text Size: 
      </div>
    </div>
    <div class="col-3">
      <div class="change-font" style="color:white">
        <h3><u>Small</u></h3>
      </div>
    </div>
    <div class="col-3">
        <div class="change-font" style="color:white">
          <h2><u>Medium</u></h2>
        </div>
    </div>
    <div class="col-3">
      <div class="change-font" style="color:white">
        <h1><u>Large</u></h1>
      </div>
    </div>
  </div>
    
      
      
       
                                    
</footer>