<footer class="page-footer font-small navbar-dark green lighten-2">
    <div class="footer-copyright text-center py-3 navbar-dark green lighten-2">    
        <div class="col-md-12" style="color:white">
            <h3>Site Settings:</h3>
        </div>
        </br>
        <main>
            <div class="row">
                <div class="container d-md-flex align-items-center">
                    <div class="col-sm">
                        <div class="change-font" style="color:white">
                            <h3>Choose Text Size: 
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="change-font" style="color:white">
                            <h3><u>Small</u></h3>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="change-font" style="color:white">
                            <h2><u>Medium</u></h2>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="change-font" style="color:white">
                            <h1><u>Large</u></h1>
                        </div>
                    </div>
                    
                </div>
            </div>
            </br>
           <div class="row">
                <div class="container d-md-flex align-items-center">
                    <div class="col-sm">
                        <div class="change-font" style="color:white">
                            <button class="btn btn-default" type="button">Reset</button>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
</footer>