<footer class="page-footer font-small navbar-dark green lighten-2">
    <div class="footer-copyright text-center py-3 navbar-dark green lighten-2">
      <a href="https://apophis.bss.design/index.html"> Apophis.com</a>
    </div>
</footer>