<nav class="mb-4 navbar navbar-expand-lg navbar-dark green lighten-2">
    <a class="navbar-brand" href="/home" style="font-size: 210%; font-weight: bold; margin-right: 0px;">
        <img src="/ecoSpark_Logo.png" alt="ecoSpark Logo" width="70" height="auto" class="d-inline-block align-center">
    </a>
    <a class="navbar-brand pl-2 d-none d-sm-block" href="/home" style="font-size: 210%; font-weight: bold;">
        EcoSpark
    </a>
    <a class="navbar-brand d-none d-sm-block" href="#" style="font-size: 210%; font-weight: bold;">
        |
    </a>
    <ul class="navbar-nav" style="font-size: 210%; font-weight: bold;">
        <li class="nav-item">
          <a class="nav-link" href="javascript:history.back()">
            <i class="fas fa-arrow-circle-left"></i>
            Back
          </a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto" style="font-weight: bold; font-size:140%; color: white;">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i> 
                Profile                     
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/home/my-account">My Account</a>
                <a class="dropdown-item" href="/">Log out</a>
            </div>
        </li>
    </ul>
    </div>
</nav>