<!DOCTYPE html >
<html>
	<head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="/stylesheets/addRoom.css">  
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/mdb.min.css">
		<title> Eco Spark - Rooms </title>
    </head>

    <body>

        <%- include ('partials/header') -%>

        <br></br>
        <h4 class="card-title text-center font-weight-bold">Add or Create a Room</h4>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="loginCardHolder white">
                        <div class="card  teal lighten-3">
                            <div class="card-body">
                                <form action="createRoom" method="post">
                                    <p class="h4 text-center py-4">Create a New Room</p>
                                    <div class="md-form">
                                        <i class="fas fa-pencil-alt prefix"></i>
                                        <input type="text" id="inputIconEx1" class="form-control" name="roomID" required>
                                        <label for="inputIconEx1">Create Unique Room Code</label>
                                    </div>
                                    <div class="md-form">
                                        <i class="fas fa-pencil-alt prefix"></i>
                                        <input type="text" id="inputIconEx2" class="form-control" name="roomName" required>
                                        <label for="inputIconEx2">Room Name</label>
                                    </div>
                                    <select class="browser-default custom-select" name="roomType" required>
                                        <option value="" disabled selected>Choose Room Type</option>
                                        <option value="Kitchen">Kitchen</option>
                                        <option value="Bedroom">Bedroom</option>
                                        <option value="Living Room">Living Room</option>
                                        <option value="Bathroom">Bathroom</option>
                                        <option value="Hallway">Hallway</option>
                                        <option value="Dining Room">Dining Room</option>
                                    </select>
                                    <div class="text-center py-4 mt-3">
                                        <div class="form-group">
                                            <button class="btn  green lighten-2" type="submit">Add Room</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/popper.min.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascripts/mdb.min.js"></script>
    </body>
</html>