<!DOCTYPE html >
<html>
	<head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="/stylesheets/addDevice.css">  
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/mdb.min.css">
		<title> Eco Spark - Devices </title>
    </head>

    <body>

        <%- include ('partials/header') -%>

        <br></br>
        <h4 class="card-title text-center font-weight-bold">Add or Create a Device</h4>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="loginCardHolder white">
                        <div class="card  teal lighten-3">
                            <div class="card-body">
                                <form action="addDeviceCode" method="post">
                                    <p class="h4 text-center py-4">Add Device By Device Code</p>
                                    <div class="md-form">
                                        <i class="fas fa-pencil-alt prefix"></i>
                                        <input type="text" id="inputIconEx2" class="form-control" name="deviceIDC" required>
                                        <label for="inputIconEx2"> Device Code</label>
                                    </div>
                                    <div class="text-center py-4 mt-3">
                                        <div class="form-group">
                                            <button class="btn  green lighten-2" type="submit">Add Device</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="loginCardHolder white">
                        <div class="card  teal lighten-3">
                            <div class="card-body">
                                <form action="createDevice" method="post">
                                    <p class="h4 text-center py-4">Create a New Device</p>
                                    <div class="md-form">
                                        <i class="fas fa-pencil-alt prefix"></i>
                                        <input type="text" id="inputIconEx2" class="form-control" name="deviceID" required>
                                        <label for="inputIconEx2">Create Unique Device Code</label>
                                    </div>
                                    <div class="md-form">
                                        <i class="fas fa-pencil-alt prefix"></i>
                                        <input type="text" id="inputIconEx2" class="form-control" name="deviceName" required>
                                        <label for="inputIconEx2">Device Name</label>
                                    </div>
                                    <select class="browser-default custom-select" name="deviceType" required>
                                        <option value="" disabled selected>Choose Device Type</option>
                                        <option value="Appliance">Appliance</option>
                                        <option value="Light">Light</option>
                                        <option value="Heating">Heating</option>
                                        <option value="Socket">Socket</option>
                                        <option value="TV">TV</option>
                                        <option value="Miscellaneous">Miscellaneous</option>
                                    </select>
                                    &nbsp
                                    <select class="browser-default custom-select" name="deviceLocation" required>
                                        <option value="" disabled selected>Choose Device Location</option>
                                        <option value=variable.saleNo)








                                    </select>
                                    <div class="text-center py-4 mt-3">
                                        <div class="form-group">
                                            <button class="btn  green lighten-2" type="submit">Add Device</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/popper.min.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascripts/mdb.min.js"></script>
    </body>
</html>