<!DOCTYPE html >
<html>
  <head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
          <link rel="stylesheet" type="text/css" href="/stylesheets/homePage.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
              <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
                <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
                  <link rel="stylesheet" href="/stylesheets/mdb.min.css">
                    <title> Eco Spark - Energy Data </title>
                  </head>

  <body>
      <%- include ('partials/header'); -%>

      <div class="view">
        <img src="scenery2.jpg" class="img-fluid" align="center" style="height:280px;">
          <div class="mask flex-center rgba-green-light">
            <p class="white-text">
              <blockquote class="blockquote bq-success" style="color:white">
                <h1 class="bq-title">Well Done! </h1>
                Your energy consumption day is below your limit! </br>
                Average Energy Consumption: 1000W </br>
                Energy Limit Set: 2000W
              </blockquote>
            </p>
          </div>
        </div>

      </br>

      <p>
        <h2 class="titles"> Overview: </h2>
      </p>

      <div class="container" align=center">
        <canvas id="lineChart"></canvas>
      </div>

      </br>
      </br>

      <div class="container" align="center">
        <h2 class="titles"> What type of reports would you like to see? </h2>
        </br>
        <div class="col-md-12 mb-4">
          <div class="row">
            <div class="col-sm">
              <button type="button" class="btn dusty-grass-gradient btn-rounded">Day Overview</button>
            </div>
            <div class="col-sm" align="center">
              <button type="button" class="btn dusty-grass-gradient btn-rounded">Week Overview</button>
            </div>
            <div class="col-sm" align="center">
              <button type="button" class="btn dusty-grass-gradient btn-rounded">Month Overview</button>
            </div>
            <div class="col-sm" align="center">
              <button type="button" class="btn dusty-grass-gradient btn-rounded">Year Overview</button>
            </div>
          </div>
        </div>
      </div>


      <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
      <script type="text/javascript" src="/javascripts/popper.min.js"></script>
      <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
      <script type="text/javascript" src="/javascripts/mdb.min.js"></script>
      <script>
        var ctxL = document.getElementById("lineChart").getContext('2d');
        var myLineChart = new Chart(ctxL, {
        type: 'line',
        data: {
        labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October",
        "November", "December"],
        datasets: [{
        label: "My First dataset",
        data: [65, 59, 80, 81, 56, 55, 40, 65, 59, 80, 81, 56, 55, 40],
        backgroundColor: [
        'rgba(105, 0, 132, .2)',
        ],
        borderColor: [
        'rgba(200, 99, 132, .7)',
        ],
        borderWidth: 2
        },
        {
        label: "My Second dataset",
        data: [28, 48, 40, 19, 86, 27, 90, 65, 59, 80, 81, 40, 50, 60],
        backgroundColor: [
        'rgba(0, 137, 132, .2)',
        ],
        borderColor: [
        'rgba(0, 10, 130, .7)',
        ],
        borderWidth: 2
        }
        ]
        },
        options: {
        responsive: true
        }
        });
      </script>

      <% include ('partials/footer') -%>


  </body>
</html>