<!DOCTYPE html >
<html>
	<head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="/stylesheets/ecospark.css">  
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/mdb.min.css">
		<title> Eco Spark - Help </title>
    </head>

    <body>
        
        <%- include ('partials/header') -%>
        
        <div class="container-flex px-4">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action active" href="#welcome">Welcome</a>
                        <a class="list-group-item list-group-item-action" href="#login-page">Login Page</a>
                        <a class="list-group-item list-group-item-action" href="#sign-up">Sign Up</a>
                        <a class="list-group-item list-group-item-action" href="#home-page">Home Page</a>
                        <a class="list-group-item list-group-item-action" href="#your-home">Your Home</a>
                        <a class="list-group-item list-group-item-action" href="#devices">Devices</a>
                        <a class="list-group-item list-group-item-action" href="#system-settings">System Settings</a>

                      </div>
                </div>
                <div class="col-md-9 pt-3">
                    <div data-spy="scroll" data-offset="40" class="scrollspy" style="overflow-y: scroll; height: 620px;">
                        <h4 id="welcome">Welcome</h4>
                        Welcome to the EcoSpark home control application. If you want to know how to setup your home for top of the line home management you’ve come to the right place. Our help guide will take you through all the steps you need to give you the best EcoSpark experience possible.

                        <br>
                        <br>

                        <h4 id="login-page">Login Page</h4>
                        If you already have an account with us please enter your username and password to login.
                        If you do not have an account, please click the “Sign Up” button to create one.
                        For more information about our company, please view our website by clicking on the link at the bottom of the page.


                        <br>
                        <br>

                        <h4 id="sign-up">Sign Up</h4>

                        Please enter a unique username (case sensitive), your nickname (this will be shown when you login to the application) and a secure password to sign up (passwords must match and are case sensitive)
                        If you’re sign up page keeps clearing then there is an issue with the username you have chosen or your passwords do not match. Try picking a new username and take care when confirming your password.
                        If you already have an account, click “Back” to go to the login page.
                        For more information about our company, please view our website by clicking on the link at the bottom of the page.

                        <br>
                        <br>

                        <h4 id="home-page">Home Page</h4>
                        The home page is the first thing you will see when logging in to EcoSpark. This gives you a dashboard where you can quickly jump into viewing your home, energy data, device management and system settings or help.
                        On the Home Page you can view the temperature and weather, household energy saving tips and a list of faults. The list of faults will display information of any faulty devices connected to your home. You will be able to view which device is faulty, what room it is in and information about the fault.
                        When you first sign up to EcoSpark you will not have a home, so for this reason you are not able to access system settings. Once you have created a home you will be able to access system settings and help will be moved into this section.

                        <br>
                        <br>

                        <h5>Profile Drop Down Buttons</h5>
                        Two options are available for your profile:<br>
                        My Account<br>
                        Log Out

                        <br>
                        <br>


                        <h5>Account Page</h5>

                        My clicking on the “Profile” drop down button and selecting “My Account”, you can view your account details, i.e. your password, whether you have an admin account or a normal account and the name of your home. From this page, you can either return to the “Home Page” by selecting the “Back” button or you can logout by selecting the “Log out” button.

                        <br>
                        <br>

                        <h5>Log Out</h5>
                        By selecting the “Log Out” option, you will be logged out of your account and will be returned to the login screen.

                        <br>
                        <br>

                        <h4 id="your-home">Your Home</h4>

                        <br>

                        <h5>New Admin</h5>
                        If you are new and have not set up your home, you will have the ability to do this here by selecting the “Set up your home” button. From here you will be asked to create a unique home code and a nickname for your home. You will automatically become the admin of your home upon its creation. The home code will be used by others to assign themselves to your home. For security purposes, do not share this code with others outside your home and only share it with users you can trust. To prevent others from guessing your code try to make it as intricate as possible.

                        If you have just set up a new home, you will be able to add the rooms of your home to the system by selecting the “Add Room” button.

                        <br>
                        <br>

                        <h5>New Non-Admin</h5>
                        If you are a new user but your home has already been set up by someone else, you can assign yourself to your home here (by selecting the “Set up your home” button). You will require the home code in order to do this. Once you have received this from an admin, you can enter it and assign yourself to the home. You will be added to the home as a non-admin. To acquire admin status, you must ask the current home admin who is by default the creator of the home.

                        If the system has already been set up, the rooms of your home will now be displayed when you select the “Your Home” button.

                        You can also return to the “Home Page” but selecting the “Back” button or by pressing the EcoSpark Home button in the top left.

                        <br>
                        <br>

                        <h5>Rooms</h5>

                        When your home has been setup you can view the rooms in your home. Selecting a room will allow you to view what devices are in that room and what power they are using.
                        You can also control room temperature and turn on and off your devices.
                        The room name can be edited by pressing the edit room button at the bottom of the page.

                        <br>
                        <br>



                        <h4 id="devices">Devices</h4>
                        The devices page allows viewing of every device that has been added to your home. A list of currently running devices is available under the  (mobile only) graph. This graph displays the energy usage of currently running devices.
                        To turn off a device quickly, press the button under the device you would like to turn off in the running devices section.
                        If there are any faults you can also view them here.


                        <h5>Specific Device</h5>
                        To view information about a specific device, select from the list of devices at the bottom of the page.
                        Once a device has been selected you can view the type of device it is, turn the device on or off and edit or delete the device.

                        <h5>Add Device</h5>
                        To add a device select the add device button at the end of your list of devices.
                        A form will appear that allows you to add a new device, choosing a device name, type and location (what room it will appear in). Once the form has been submitted you will be returned to the devices page where you can view your new device.

                        <h4 id="system-settings">System Settings</h4>
                        If you are an admin for a home, then you will be able to access the system settings section. This allows you finer control of your home and its users.

                        <h5>Manage Users</h5>
                        Selecting this option gives you a list of all the users who currently have access to your home.
                        Selecting a specific user allows you to change the user’s details including username, display name, password, and admin status.
                        If a user is no longer active in your home you can remove them or delete their account.
                        Make sure to let the user know if you have made any changes to their account.


                        <h5>Manage Devices</h5>
                        This option allows the user to manage every device in the home. Devices can be edited and deleted from this page.


                        <h5>Manage Home</h5>
                        This page allows control of the home settings. The name of the home can be changed and rooms can be deleted.
                        If the entire home is no longer required it can also be deleted.


                        <h5>Help</h5>
                        If you are an admin you’re help page will appear within the system settings. This is only available here for admin users. Other users will access help in place of the system settings button on the dashboard.
                        This page gives a detailed walkthrough of setting up the EcoSpark application. 
                        Energy Data
                        From this page you can view the energy data for you current home. The green arrow represents the energy the home is producing while the red arrow represents energy usage. The graph shown (desktop only) displays this in a more easy to understand format.
                        The overall home usage statistic is the combination of your energy usage and production.




                    </div>
                </div>
            </div>
        </div>

       
        
        <%- include ('partials/footer') -%>

       

        <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/popper.min.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascripts/mdb.min.js"></script>
        <script type="text/javascript" src="/javascripts/font.js"></script>
		
    </body>
</html>