<!DOCTYPE html >
<html>
	<head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="/stylesheets/ecospark.css">  
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/mdb.min.css">
		<title> Eco Spark - Help </title>
    </head>

    <body>
        
        <%- include ('partials/header') -%>
        
        <div class="container-flex px-4">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action active" href="#welcome">Welcome</a>
                        <a class="list-group-item list-group-item-action" href="#getting-started">Getting Started</a>
                        <a class="list-group-item list-group-item-action" href="#managing-home">Managing Your Home</a>
                        <a class="list-group-item list-group-item-action" href="#managing-devices">Managing Your Devices</a>
                      </div>
                </div>
                <div class="col-md-9 pt-3">
                    <div data-spy="scroll" data-offset="0" class="scrollspy" style="overflow-y: scroll; height: 620px;">
                        <h4 id="welcome">Welcome</h4>
                        <p>Welcome to the EcoSpark dashboard. Here you can find everything you need to manage your smart home.</p>
                        <h4 id="getting-started">Getting Started</h4>
                        <p>...</p>
                        <h4 id="managing-home">Managing Your Home</h4>
                        <p><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></p>
                        <h4 id="managing-devices">Managing Your Devices</h4>
                        <p><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></p>
                    </div>
                </div>
            </div>
        </div>

       
        
        <%- include ('partials/footer') -%>

       

        <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/popper.min.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascripts/mdb.min.js"></script>
        <script type="text/javascript" src="/javascripts/font.js"></script>
		
    </body>
</html>