<!DOCTYPE html >
<html>
	<head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="/stylesheets/ecospark.css">  
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/mdb.min.css">
		<title> Eco Spark - My Account </title>
    </head>

    <body>
        
        <%- include ('partials/header') -%>


        <% users.forEach(function(user) {%>
        <div class="container">
            <h3> User Account Details for: <%=user.username%></h3>
            
            <br>
            <br>
            
            <div class="media">
                <!-- <img class="d-flex align-self-center mr-3" src="/user.png" alt="Generic placeholder image" style="width:200px;height:200px;"> -->
                        <div class="shadow-none card green lighten-4">
                    <div class="view overlay text-center">
                        <span class="fa-stack fa-6x ">
                            <i class="fa fa-circle fa-stack-2x icon-background"></i>
                            <a class="fas fa-user-circle fa-stack-1x icon" style="color:white"></a>
                        </span>
                    </div>
                </div>
                
                <div class="media-body">
                    <div class="container">
                        <div class="row">
                          <div class="col-sm">
                            <p><h3>Password:</h3></p>
                          </div>
                          <div class="col-sm">
                            <p><h3><%=user.password%></h3></p>
                          </div>
                        </div>
            
                        <div class="row">
                            <div class="col-sm">
                                <p><h3>Is the user an Admin?</h3></p>
                            </div>
                            <div class="col-sm">
                                <% if (user.isAdmin == 0) {%>
                                    <p><h3> No </h3></p>
                                  <% } else { %>
                                    <p><h3> Yes </h3></p>
                                <% } %>
                            </div>
                          </div>
            
                        <div class="row">
                            <div class="col-sm">
                                <p><h3>Home Name:</h3></p>
                            </div>
                            <div class="col-sm">
                                <p><h3><%=user.homeName%></h3></p>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
            

        </div>
    
    <br>

    <div class="modal-footer d-flex justify-content-center">
        <!-- <button class="btn btn-default" type="submit" href="/">Log out</button> -->
        <a class="btn btn-default" href="/">Log out</a>
    </div>

        <% }) %>

        <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/popper.min.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascripts/mdb.min.js"></script>
    </body>
</html>