<!DOCTYPE html >
<html>
	<head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="/stylesheets/homePage.css">  
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/mdb.min.css">
		<title> Eco Spark - Help </title>
    </head>

    <body>
        
        <%- include ('partials/header') -%>


        <div class="container align-self-center mr-1">
            <div class="row">
              <div class="col-sm-8">
                <div class="card p-4 rounded" style="text-align: center;">
                  <% userInfo.forEach(function(user) { %>
                    <h5> Account Details for <%= user.username %></h5>
                    <% }) %>
                </div>
              </div>
            </div>
          </br>
          <% userInfo.forEach(function(user) {%>
            
            <div class="row">
              <div class="col-sm-8">
                  <form>
                    <div class="form-group">
                      <h5>Display Name:</h5>

                      <input class="form-control disabled rounded" placeholder="">
                      <small class="form-text text-muted">Name displayed throughout the application.</small>
                        </br>
                        <h5>Username:</h5>
                        <input class="form-control disabled rounded">
                            <small class="form-text text-muted">Unique username chosen to be used when logging in.</small>
                      </input>
                    </div>
                     
                  <button type="submit" class="btn btn-primary btn-md">Update User Information</button>
                  </form>
                  <!-- Extended material form grid -->
                </div>
              </div>
            
          </div>
        </div>
        <% }) %>


        <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/popper.min.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascripts/mdb.min.js"></script>
    </body>
</html>