<!DOCTYPE html >
<html>
	<head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="/stylesheets/homePage.css">  
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/mdb.min.css">
		<title> Eco Spark - Room </title>
    </head>

    <body>

        <% include partials/header.ejs %>
        
        <br></br>
        <div>
            <% roomInfo.forEach(function(room) {%>
            your room is <%=room.roomDisplayName%>
            <% }) %>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="sliders rounded mb-0 green lighten-2 z-depth-1">
                        <br></br>
                        <label for="customRange1">Change Room Temperature</label>
                        <input type="range" class="custom-range" id="customRange1">
                        <br></br>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitches">
                            <label class="custom-control-label" for="customSwitches">Main Lights off/on</label>
                        </div>
                        <br></br>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h4 class="fas fa-thermometer-half"> Current Room Temp _ °C</h4>
                    <h4 class="fas fa-lightbulb"> Current Room Energy Usage _ KW </h4>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/popper.min.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascripts/mdb.min.js"></script>
    </body>
</html>