<!DOCTYPE html >
<html>
	<head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="/stylesheets/room.css">  
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/mdb.min.css">
		<title> Eco Spark - Room </title>
    </head>

    <body>
        <nav class="mb-1 navbar navbar-expand-lg navbar-dark green lighten-2">
            <a class="navbar-brand" style="font-size:210%; color: white; font-weight: bold;" href="/home">Eco Spark</a>
            <a class="fas fa-arrow-circle-left" style="font-size:150%; color: white;" href="/rooms">Back</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
                aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div style="font-weight: bold; font-size:120%; color: white;" class="collapse navbar-collapse" id="navbarSupportedContent-4">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> Profile </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                        <a class="dropdown-item" href="/">Log out</a>
                    </div>
                    </li>
                </ul>
            </div>
        </nav>
        <br></br>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="sliders rounded mb-0 green lighten-2 z-depth-1">
                        <br></br>
                        <label for="customRange1">Change Room Temperature</label>
                        <input type="range" class="custom-range" id="customRange1">
                        <br></br>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitches">
                            <label class="custom-control-label" for="customSwitches">Main Lights off/on</label>
                        </div>
                        <br></br>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h4 class="fas fa-thermometer-half"> Current Room Temp _ °C</h4>
                    <h4 class="fas fa-lightbulb"> Current Room Energy Usage _ KW </h4>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/popper.min.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascripts/mdb.min.js"></script>
    </body>
</html>