.loginCardHolder {
    margin-top: 5%; 
    width: 100%;
    padding: 1%;
    border-radius: 8px;
  }
  
  body {
    background-color: rgba(76, 175, 80, 0.3) !important;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}