

.inputBox {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #d5e8d6;
  border-radius: 4px;
  box-sizing: border-box;
}

.loginCardHolder {
  padding: 1%;
  border-radius: 8px;
}

.button {
  width: 50%;
  margin: 3% 25% 0%;
  background-color: #dbdab4;
  border-style: double;
  border-color: #aca953;
  padding: 2%;
}


body {
  background-image: url('loginBackBlurred.jpg');
  background-color: #add2af;
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}






